@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --intro: hsl(217, 28%, 15%);
  --main-background: hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --testimonials-background: hsl(219, 30%, 18%);
  --text-color: hsl(0, 0%, 100%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
}
body {
  background-color: var(--main-background);
  font-size: 14px;
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h2 {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}
p {
  font-size: 1.1rem;
  opacity: 0.8;
  font-weight: 400;
  opacity: 0.8;
}
li {
  list-style: none;
}

/*******************navbar***********************/
header {
  background-color: var(--intro);
}
nav {
  padding: 1rem;
  width: 90%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .features {
  display: flex;
}
nav .features a {
  margin-right: 4rem;
}
nav .features a:hover {
  text-decoration: underline;
}
nav .features a li {
  color: var(--text-color);
  opacity: 0.7;
}
nav .features a li:hover {
  opacity: 1;
}
.logo img {
  width: 7rem;
}

/****************************hero**************************/
.hero {
  height: auto;
}
.hero .container {
  background-image: url(images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--intro);
  background-position: 0% 100%;
  width: 100%;
  text-align: center;
}
.hero .container img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.hero .container h1 {
  font-size: 2.5rem;
  width: 50%;
  margin: 2rem auto;
  line-height: 4rem;
}
.hero .container p {
  width: 40%;
  margin: 3rem auto 2rem;
}
.hero .container button {
  width: 15rem;
  height: 3rem;
  border-radius: 4rem;
  outline: none;
  border: none;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  color: var(--text-color);
  font-size: 1rem;
  margin-bottom: 10rem;
}
/************************details*******************************/
.details {
  background-color: var(--main-background);
}
.details .content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  margin: 0 auto;
  text-align: center;
  grid-gap: 6rem 9rem;
  align-items: baseline;
}
.details .content div img {
  margin-bottom: 2rem;
}
.details .content div h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.details .content div p {
  font-size: 0.9rem;
}

/************************stay-productive***********************/
.stay-productive .content {
  width: 85%;
  margin: 7rem auto;
  display: flex;
  align-items: center;
  min-height: 30rem;
}
.stay-productive .content .img img {
  width: 40vw;
}
.stay-productive .content .text {
  width: 50vw;
  margin-left: 3rem;
}
.stay-productive .content .text h1 {
  font-size: 2.2rem;
  width: 60%;
  word-spacing: 0.2rem;
  margin-bottom: 1rem;
  line-height: 3.3rem;
}
.stay-productive .content .text p {
  font-size: 0.93rem;
  margin-bottom: 1rem;
}
.stay-productive .content .text .second {
  margin-bottom: 2rem;
}

.stay-productive .content .text .arrow {
  display: inline;
  border-bottom: 1px solid var(--blue);
  color: var(--cyan);
}
.stay-productive .content .text .arrow a {
  color: inherit;
}
.stay-productive .content .text .arrow:hover {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
.stay-productive .content .text .arrow img {
  margin-left: 0.3rem;
}

/**************************testimonials*******************************/
.testimonials {
  min-height: 30rem;
}
.testimonials .content {
  display: flex;
  min-width: 85%;
  margin: 0 auto;
}
.testimonials .content .card {
  background-color: var(--testimonials-background);
  min-height: 11rem;
  width: 30%;
  margin: 0rem 1.5rem;
  padding: 2.5rem 2rem;
  box-shadow: 9px 6px 4px rgba(255, 255, 255, 0.02);
}
.testimonials .content .card p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.testimonials .content .quotes {
  justify-self: flex-end;
  align-self: flex-start;
  position: relative;
  top: -2.2rem;
  left: 4.3rem;
  z-index: -1;
}
.testimonials .content .card .testimonials-details {
  background-color: var(--testimonials-background);
  display: flex;
  align-items: center;
}
.testimonials .content .card .testimonials-details img {
  width: 2rem;
  border-radius: 50%;
}
.testimonials .content .card .testimonials-details .text {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.testimonials .content .card .testimonials-details h3 {
  letter-spacing: 0.1rem;
  opacity: 0.9;
  font-size: 0.7rem;
}
.testimonials .content .card .testimonials-details p {
  margin-top: 0.2rem;
  font-size: 0.6rem;
}

/***************************footer******************************/
footer {
  background-color: var(--footer-background);
  position: relative;
  height: 30rem;
}
/*******footer-card**********/
footer .card {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--intro);
  position: absolute;
  top: -33%;
  left: 20%;
  height: 17rem;
  border-radius: 0.5rem;
  z-index: 1;
  padding-top: 3rem;
  box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.4);
}
footer .card h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
footer .card p {
  font-size: 0.8rem;
  margin: 0 5rem 2rem;
}
footer .card input[type="email"] {
  height: 3rem;
  width: 55%;
  border-radius: 2rem;
  outline: none;
  border: none;
  margin-right: 2rem;
  padding-left: 2rem;
}
footer .card input[type="button"] {
  height: 3rem;
  width: 25%;
  border-radius: 2rem;
  outline: none;
  background: var(--blue);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}
footer .card input[type="button"]:hover {
  background: var(--cyan);
}

/**********footer-content************/
footer .content {
  width: 90%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 0 7rem;
}
footer .content .logo {
  margin-bottom: 2rem;
}
footer .content .logo img {
  width: 10rem;
}
footer .content .footer {
  display: grid;
  grid-template-columns: 23rem 18rem 10rem 8rem 10rem;
  grid-template-rows: 2fr 1fr;
  grid-gap: 1rem;
}
footer .content .footer .location {
  display: flex;
  align-items: flex-start;
}
footer .content .footer .location img {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
footer .content .footer .contacts {
  margin-left: 4rem;
}
footer .content .footer .contacts div {
  display: flex;
  align-items: flex-start;
}
footer .content .footer .contacts div img {
  margin-right: 0.6rem;
}
footer .content .footer .contacts .phone {
  margin-bottom: 1rem;
}
footer .content .footer .four {
  margin-left: 3rem;
}

footer .content .footer .four a,
footer .content .footer .three a {
  color: inherit;
}
footer .content .footer a li {
  margin-bottom: 1rem;
  font-weight: 400;
  opacity: 0.8;
}
footer .content .footer a li:hover {
  opacity: 1;
}
footer .content .footer .icons .fab {
  border: 0.1rem solid var(--text-color);
  border-radius: 50%;
  padding: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
/*******************media for below 1285px***********/
@media (max-width: 1285px) {
  footer {
    width: 100%;
  }
  footer .content {
    width: 90%;
    margin: 0 auto;
  }
  footer .content .footer {
    width: 90%;
    grid-gap: 0rem;
    grid-template-columns: 20rem 13rem 10rem 6rem 8rem;
    margin: 0;
  }
  footer .content .footer .contacts {
    margin-left: 2rem;
  }
  footer .content .footer .four {
    margin-left: 4rem;
  }
}

/********************media for below 900px***********/
@media (max-width: 1000px) {
  nav {
    width: 100%;
  }
  nav .logo {
    margin-left: 2rem;
  }
  nav .features a {
    padding: 0;
    margin: 1rem;
  }
  /************************hero***********/
  .hero .container {
    background-image: url(images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 62%;
    background-color: var(--intro);
  }
  .hero .container img {
    width: 80%;
  }
  .hero .container h1 {
    font-size: 1.6rem;
    opacity: 0.9;
    width: 50%;
    line-height: 3rem;
    background-color: transparent;
    margin: 2rem auto 2rem;
  }
  .hero .container .color {
    background-color: var(--main-background);
  }
  .hero .container p {
    box-sizing: content-box;
    background-color: transparent;
    width: 78%;
    margin-top: 0;
  }
  .hero .container button {
    margin-bottom: 6rem;
  }
  /******************details******************/
  .details {
    margin-top: 2rem;
  }
  .details .content {
    display: flex;
    flex-direction: column;
  }
  /******************stay-productive****************/
  .stay-productive .content {
    flex-direction: column;
    width: 100%;
  }
  .stay-productive .content .img {
    width: 80%;
  }
  .stay-productive .content .img img {
    display: block;
    width: 100%;
    margin: auto;
  }
  .stay-productive .content .text {
    width: 80%;
  }
  /*********************testimonials****************/
  .testimonials {
    height: 60rem;
  }
  .testimonials .content {
    flex-direction: column;
  }
  .testimonials .content .quotes {
    left: 22%;
    top: 1.8rem;
  }
  .testimonials .content .card {
    width: 60%;
    margin: 1rem auto;
    height: 20%;
  }
  /*********************footer********************/
  footer {
    height: 55rem;
    width: 100%;
  }
  /******************footer card******************/
  footer .card {
    height: 23rem;
    width: 80%;
    left: 10%;
    top: -20%;
  }
  footer .card h2 {
    font-size: 1.5rem;
    opacity: 0.9;
  }
  footer .card input[type="email"],
  footer .card input[type="button"] {
    display: block;
    width: 80%;
    margin: 1rem auto 1.5rem;
  }
  /*********************footer content**************/
  footer .content {
    width: 80%;
    margin: 0 0 0 4rem;
  }
  footer .content .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 7rem 9rem 8rem 3rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .content .footer .contacts {
    margin-left: 0;
  }
  footer .content .footer .four,
  footer .content .footer .three {
    margin-left: 0;
    width: 4.5rem;
  }
  footer .content .footer .icons {
    justify-self: center;
    margin-left: 3rem;
  }
}

/************************media width 545px*******************/

@media (max-width: 560px) {
  header {
    width: 100%;
  }
  header nav {
    width: 95%;
    margin: 0 auto;
  }
  header nav .logo {
    margin: 0;
  }
  header nav .logo img {
    margin: 0;

    width: 6rem;
  }
  header nav .features a {
    margin: 0 0.3rem 0.5rem;
  }
  /***************hero***********************/
  .hero .container {
    background-image: url(images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 46%;
    background-color: var(--intro);
  }
  .hero .container img {
    width: 80%;
  }
  .hero .container h1 {
    font-size: 1.6rem;
    opacity: 0.9;
    width: 90%;
    line-height: 2.5rem;
    background-color: transparent;
    margin: 1rem auto 0;
  }
  .hero .container .color {
    background-color: var(--main-background);
  }
  .hero .container p {
    box-sizing: content-box;
    padding-top: 2rem;
    width: 78%;
    margin-top: 0;
  }
  .hero .container button {
    margin-bottom: 3rem;
  }
  /**********************stay productive*******************/
  .stay-productive .content {
    margin: 3rem 0 0;
  }
  .stay-productive .content .text {
    margin: 0;
    width: 85%;
  }
  .stay-productive .content .text h1 {
    margin-bottom: 0;
    font-size: 1rem;
    width: 85%;
  }

  /********************testimonials**********************/
  .testimonials {
    margin-top: 4rem;
    height: 62rem;
  }
  .testimonials .content {
    width: 100%;
  }
  .testimonials .content .quotes {
    left: 10%;
  }
  .testimonials .content .card {
    width: 85%;
  }
  /*********************footer card**********************/
  footer .card {
    width: 90%;
    left: 5%;
  }
  footer .card p {
    width: 80%;
    margin: 0 auto 2rem;
  }
  /*********************footer text**********************/
  footer {
    height: 65rem;
  }
  footer .content .logo img {
    width: 10rem;
  }
  footer .content {
    margin: 7rem auto 0;
    height: 40rem;
    justify-content: flex-end;
  }
  footer .content .footer {
    grid-template-rows: 12rem 7rem 10rem 8rem 3rem;
  }
  footer .content .footer .icons {
    margin-left: 2rem;
  }
}
